name: Check format

on:
  pull_request_target:
    types: [opened, synchronize, reopened]
    branches:
      - master

env:
  S3_URL: ${{ secrets.S3_URL }}
  ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY }}
  SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
  BACKEND_URL: ${{ secrets.BACKEND_URL }}
  BACKEND_TOKEN: ${{ secrets.BACKEND_TOKEN }}
  BUCKET: ${{ vars.S3_BUCKET }}
  R2_URL: ${{ secrets.R2_URL }}
  R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
  R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
  R2_BUCKET: ${{ vars.R2_BUCKET }}
  FILELIST_URL: ${{ secrets.FILELIST_URL }}

jobs:
  check-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Show log
        run: git log -5

      - name: Check for YAML files in root directory
        run: |
          files=$(find . -maxdepth 1 -type f \( -name "*.yml" -o -name "*.yaml" \))
          if [ -n "$files" ]; then
            echo "根目录下发现 yml 或 yaml 文件，请移动到 metadata 目录中：" > comment.txt
            echo "$files" >> comment.txt
            exit 1
          fi

      - id: pdfium
        name: Get pdfium-binaries latest
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          owner: bblanchon
          repo: pdfium-binaries

      - id: check
        name: Get byrdocs-check release
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          owner: byrdocs
          repo: byrdocs-check

      - name: Download release
        run: |
          wget https://github.com/bblanchon/pdfium-binaries/releases/download/${{ steps.pdfium.outputs.release }}/pdfium-linux-x64.tgz
          tar --overwrite -zxvf pdfium-linux-x64.tgz
          wget https://github.com/byrdocs/byrdocs-check/releases/download/${{ steps.check.outputs.release }}/check-cmt -O check-cmt
          wget https://github.com/byrdocs/byrdocs-check/releases/download/${{ steps.check.outputs.release }}/check-pr -O check-pr
          chmod 777 check-cmt
          chmod 777 check-pr

      - name: Check
        env:
          DIR: ./metadata
        run: ./check-pr > comment.txt 2>&1

      - name: Debug
        if: always()
        run: cat ./comment.txt

      - name: Create or Update Comment on pr
        if: (github.event_name == 'pull_request_target' && failure() )
        uses: peter-evans/create-or-update-comment@v4.0.0
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-path: ./comment.txt
        
