name: Upload schema

on:
  push:
    branches:
      - master

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            schema:
              - 'schema/*.yaml'
              - 'schema/*.yml'

      - name: Upload schema
        if: steps.changes.outputs.schema == 'true'
        uses: ryand56/r2-upload-action@latest
        with:
          r2-account-id: ${{ secrets.R2_ACCOUNT_ID }}
          r2-access-key-id: ${{ secrets.R2_ACCESS_KEY_ID }}
          r2-secret-access-key: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          r2-bucket: ${{ vars.R2_BUCKET }}
          source-dir: schema/
          destination-dir: ./
